.censorship__header{
    padding-top: 10px;
}
.censorship__header_nav{
    display:flex;
    list-style: none;
    flex-wrap: wrap;
}

.censorship__header-nav-item{
    display:flex;
    text-decoration: none;
    font-weight: 500;
    padding-right: 10px;
    position: relative;
    cursor: pointer;
}

.censorship__header-nav-item:hover {
    color: var(--secondary-color);
}

.censorship__header-nav-item-icon{
    font-size: 1.4rem;
    width: 20px;
    padding-right: 5px;
    color: var(--angle-color);
}

.censorship__header-nav-item-name{
    color: var(--angle-color);
}

.censorship__container-title-first{
    display: block;
    padding-bottom: 5px;
}

.censorship__container-title-first__name{
    font-size: 1.4rem;
    font-weight: 500;
}

select.censorship__container-title-first__filter-list{
    border: none;
}

.censorship__container-content-row{
    display:block;
    border-bottom: 1px solid var(--angle-color);
}

.censorship__container-content-row:hover{
    background-color: var(--silver-color);
}

.censorship__container-content-row-element{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.censorship__container-content-row-element-index{
    display: inline-block;
    max-width: 58.333%;
}

.censorship__container-content-row-element-index-name{
    font-weight:500;
    font-size: 1.1rem;
}

.censorship__container-content-row-element-index-employee{
    font-size: 0.9rem;
    color: var(--angle-color)
}

.censorship__container-content-row-element-index-reason{
    font-size: 0.9rem;
    color: var(--angle-color)
}

.censorship__container-content-row-element-type{
    display: inline-block;
}

.censorship__container-content-row-element-status{
    display: inline-block;
}

.censorship__container-content-row-element-status-name{
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
}

.censorship__container-content-row-element-date{
    display: inline-block;
}