.requestOT {
    position: relative;
}

.requestOT__functionName {
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 500;
    padding-top: 20px;
    /* border-bottom: 2px solid var(--text-color); */
}

.requestOT__form, .requestOT__form--status {
    border: 2px solid var(--text-color);

}

.requestOT__formName, .requestOT__formName--status {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px;
}

.requestOT__formItem {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.requestOT__formItemName {
    font-size: 1rem;
    font-weight: 600;

}

.requestOT__formInput {
    width: 250px !important;
    position: absolute;
    left: 200px;
}

.requestOT_submit-btn {
    margin: 20px !important;
    position: relative;
    left: 166px;

}

.requestOT__formItems--status {

    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 20px !important;
}

.requestOT__formItemsDate, .requestOT__formItemsHour, .requestOT__formItemsReason {
    display: flex;
}

.requestOT__formItemsStatusName {
    border: 1px solid black;
    border-radius: 6px;
    /* background-color: #198754; */
    /* background-color: grey; */
    padding: 14px 4px;
    color: white;
    display: flex;
    justify-content: center;
    width: 130px;
}

.requestOT__formItemsStatus {
    display: flex;
    justify-content: center;
    align-self: center;
}

.requestOT__formItems--margin {
    margin-bottom: 20px;
}

/* 
.requestOT__pagination--section {
    margin: auto;
}

.requestOT__pagination {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 4px 40px;
    padding: 0 10px;
    color: var(--white-color);
    background-color: #0d6efd;
    text-decoration: none;
}

.requestOT__pagination2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 4px 40px;
    padding: 0 10px;
    color: black;
    background-color: #0d6efd;
    text-decoration: none;
} */