.requestWFH {
    position: relative;
}

.requestWFH__functionName {
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 500;
    padding-top: 20px;
    /* border-bottom: 2px solid var(--text-color); */
}

.requestWFH__form, .requestWFH__form--status {
    border: 2px solid var(--text-color);

}

.requestWFH__formName, .requestWFH__formName--status {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px;
}

.requestWFH__formItem {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.requestWFH__formItemName {
    font-size: 1rem;
    font-weight: 600;

}

.requestWFH__formInput {
    width: 250px !important;
    resize: horizontal;
    position: absolute;
    left: 200px;
}

.requestWFH_submit-btn {
    margin: 20px !important;
    position: relative;
    left: 166px;

}

.requestWFH__formItems--status {

    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 20px !important;
}

.requestWFH__formItemsDate, .requestWFH__formItemsHour, .requestWFH__formItemsReason {
    display: flex;
}

.requestWFH__formItemsStatusName {
    border: 1px solid black;
    border-radius: 6px;
    /* background-color: #198754; */
    background-color: grey;
    padding: 14px 4px;
    color: white;
    display: flex;
    justify-content: center;
    width: 130px;
}

.requestWFH__formItemsStatus {
    display: flex;
    justify-content: center;
    align-self: center;
}

.requestWFH__formItems--margin {
    margin-bottom: 20px;
}